<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
  		<title><%= content[:title] %>-<%= @@changelog.config[:title] %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="<%= @@changelog.config[:home_url] %>css/reset.css">
		<link rel="stylesheet" href="<%= @@changelog.config[:home_url] %>css/style.css">
  		<meta name="description" content="<%= content[:title] %>-<%= content[:category] %>-<%= @@changelog.config[:title] %>" />
  		<meta name="keywords" content="<%= content[:title] %>,<%= content[:category] %>,<%= @@changelog.config[:title] %><% if content[:keywords] %><% content[:keywords].each do |k| %>,<%= k %><% end %><% end %><% if content[:tags] %><% content[:tags].each do |t| %>,<%= t %><% end %><% end %>" />
  		<link rel="alternate" type="application/rss+xml" title="RSS: <%= h(@@changelog.config[:title]) %>" href="<%= @@changelog.config[:home_url] + @@changelog.config[:rss_filename] %>" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="<%= @@changelog.config[:twitter] %>" />
		<meta property="og:url" content="<%= content[:permlink] %>" />
		<meta property="og:title" content="<%= content[:title] %>-<%= @@changelog.config[:title] %>" />
		<meta property="og:description" content="<%= content[:notag][0,140] %>" />
		<meta property="og:image" content="<%= @@changelog.config[:home_url] + @@changelog.config[:static][:images_path] + content[:eyecatch] %>" >
		<meta property="twitter:image" content="<%= @@changelog.config[:home_url] + @@changelog.config[:static][:images_path] + content[:eyecatch] %>" >
		<link rel="canonical" href="<%= content[:permlink] %>" />
                <% if(@changelog.config[:googleanalysis]) %>
 		  <!-- Global site tag (gtag.js) - Google Analytics -->
		  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @changelog.config[:googleanalysis] %>"></script>
		  <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
  			gtag('config', '<%= @changelog.config[:googleanalysis] %>');
		  </script>
                <% end %>
		<!-- code highlight -->
		<link rel="stylesheet" href="<%= @@changelog.config[:home_url] %>css/vs.min.css">
		<script src="<%= @@changelog.config[:home_url] %>javascript/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<!-- /code highlight -->
	</head>
<body>
  <header class="header">
    <h1 class="logo">
      <a href="<%= h(@@changelog.config[:home_url]) %>"><%= @@changelog.config[:title] %></a>
    </h1>
    <h2 class="subtitle"><%= @@changelog.config[:subtitle] %></h2>
    <nav class="global-nav">
      <ul>
      <% @@changelog.config[:categories].each do |categ| %>
        <% categ_dir = @@changelog.config[:home_url] + @@changelog.get_category_attr(categ[:category_name]) %>
        <% if(content[:category] == categ[:category_name]) %>
          <li class="nav-item active"><a href="<%= categ_dir %>"><%= (categ[:category_name])? h(categ[:category_name]):"All" %></a></li>
        <% else %>
          <li class="nav-item"><a href="<%= categ_dir %>"><%= (categ[:category_name])? h(categ[:category_name]):"All" %></a></li>
        <% end %>
      <% end %>
      </ul>
    </nav>
  </header>
