<h1 class="chapter"><%= content[:title] %></h1>
<% if content[:tags] %>
  <div class="content-tags"><ul class="tags" >
  <% content[:tags].each do |tag| %>
	<li><a href="<%= h(@@changelog.config[:home_url]) %>?tag=<%= h(tag) %>"><%= h(tag) %></a></li>
  <% end %>
  </ul></div>
<% end %>
<img class="eyecatch" src="<%= @@changelog.config[:home_url] + @@changelog.config[:path_of][:images] + content[:eyecatch] %>" alt="<%= content[:title].gsub(/<[^>]+>/,'') %>" />
<%= render('content_page/share_button.erb', content) %>
  <div class="entry-content">
    <%= render_this(content[:contents], content) %>
  </div>
  <div class="entry-footer">
  <span class="post-footers">
     Posted at <abbr class="updated" title="<%= content[:date].strftime('%Y-%m-%d') %>"><%= content[:date].strftime('%Y-%m-%d') %></abbr>
  </span>
  <span class="separator">|</span>
  <a href="<%= content[:permlink] %>" class="permalink" rel="bookmark">Permalink</a>
</div>
